{% extends 'base.html' %}

{% load i18n %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}condottieri_messages/css/condottieri_messages.css" />
{% endblock %}

{% block head_title %}{% trans "Mail" %}{% endblock %}

{% block subnav %}
<ul>
<li><a href="{% url "messages_inbox" %} ">{% trans "Inbox" %}</a></li>
<li><a href="{% url "messages_outbox" %} ">{% trans "Sent Messages" %}</a></li>
<li><a href="{% url "messages_trash" %} ">{% trans "Trash" %}</a></li>
</ul>
{% endblock %}

{% block body %}
<div id="mail">
{% block content %}
{% endblock %}
</div>
{% endblock %}
